<!DOCTYPE html>
<html>
<head>
  <title>Cms</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--%= yield %-->
<!--<a href="http://www.yougou.com" target="_blank" alt="优购时尚商城"
   id=""><div>优购时尚商城</div></a>-->
<div></div>
</body>
</html>
